In [2]:
import datasets
import pandas as pd
dataset = datasets.load_dataset("cnn_dailymail", '3.0.0')

lst_dics = [dic for dic in dataset["train"]]
dtf = pd.DataFrame(lst_dics).rename(columns={"article":"text", "highlights":"y"})[["text","y"]].head(70_000)
dtf.to_csv("data_summary.csv", index=False)
dtf.head()

Found cached dataset cnn_dailymail (/root/.cache/huggingface/datasets/cnn_dailymail/3.0.0/3.0.0/1b3c71476f6d152c31c1730e83ccb08bcf23e348233f4fcc11e182248e6bf7de)

  0%|          | 0/3 [00:00<?, ?it/s]

,text,y
0,"LONDON, England (Reuters) -- Harry Potter star...",Harry Potter star Daniel Radcliffe gets £20M f...
1,Editor's note: In our Behind the Scenes series...,Mentally ill inmates in Miami are housed on th...
2,"MINNEAPOLIS, Minnesota (CNN) -- Drivers who we...","NEW: ""I thought I was going to die,"" driver sa..."
3,WASHINGTON (CNN) -- Doctors removed five small...,"Five small polyps found during procedure; ""non..."
4,(CNN) -- The National Football League has ind...,"NEW: NFL chief, Atlanta Falcons owner critical..."

In [3]:
len(dtf)

70000

In [4]:
from nlp_utils import *
%run nlp_utils.py

In [5]:

# check
i = 1
print("--- Full text ---")
print(dtf["text"][i])
print(" ")
print("--- Summary ---")
print(dtf["y"][i])

--- Full text ---
Editor's note: In our Behind the Scenes series, CNN correspondents share their experiences in covering news and analyze the stories behind the events. Here, Soledad O'Brien takes users inside a jail where many of the inmates are mentally ill. An inmate housed on the "forgotten floor," where many mentally ill inmates are housed in Miami before trial. MIAMI, Florida (CNN) -- The ninth floor of the Miami-Dade pretrial detention facility is dubbed the "forgotten floor." Here, inmates with the most severe mental illnesses are incarcerated until they're ready to appear in court. Most often, they face drug charges or charges of assaulting an officer --charges that Judge Steven Leifman says are usually "avoidable felonies." He says the arrests often result from confrontations with police. Mentally ill people often won't do what they're told when police arrive on the scene -- confrontation seems to exacerbate their illness and they become more paranoid, delusional, and less likely to follow directions, according to Leifman. So, they end up on the ninth floor severely mentally disturbed, but not getting any real help because they're in jail. We toured the jail with Leifman. He is well known in Miami as an advocate for justice and the mentally ill. Even though we were not exactly welcomed with open arms by the guards, we were given permission to shoot videotape and tour the floor.  Go inside the 'forgotten floor' » . At first, it's hard to determine where the people are. The prisoners are wearing sleeveless robes. Imagine cutting holes for arms and feet in a heavy wool sleeping bag -- that's kind of what they look like. They're designed to keep the mentally ill patients from injuring themselves. That's also why they have no shoes, laces or mattresses. Leifman says about one-third of all people in Miami-Dade county jails are mentally ill. So, he says, the sheer volume is overwhelming the system, and the result is what we see on the ninth floor. Of course, it is a jail, so it's not supposed to be warm and comforting, but the lights glare, the cells are tiny and it's loud. We see two, sometimes three men -- sometimes in the robes, sometimes naked, lying or sitting in their cells. "I am the son of the president. You need to get me out of here!" one man shouts at me. He is absolutely serious, convinced that help is on the way -- if only he could reach the White House. Leifman tells me that these prisoner-patients will often circulate through the system, occasionally stabilizing in a mental hospital, only to return to jail to face their charges. It's brutally unjust, in his mind, and he has become a strong advocate for changing things in Miami. Over a meal later, we talk about how things got this way for mental patients. Leifman says 200 years ago people were considered "lunatics" and they were locked up in jails even if they had no charges against them. They were just considered unfit to be in society. Over the years, he says, there was some public outcry, and the mentally ill were moved out of jails and into hospitals. But Leifman says many of these mental hospitals were so horrible they were shut down. Where did the patients go? Nowhere. The streets. They became, in many cases, the homeless, he says. They never got treatment. Leifman says in 1955 there were more than half a million people in state mental hospitals, and today that number has been reduced 90 percent, and 40,000 to 50,000 people are in mental hospitals. The judge says he's working to change this. Starting in 2008, many inmates who would otherwise have been brought to the "forgotten floor"  will instead be sent to a new mental health facility -- the first step on a journey toward long-term treatment, not just punishment. Leifman says it's not the complete answer, but it's a start. Leifman says the best part is that it's a win-win solution. The patients win, the families are relieved, and the state saves money by simply not cycling these prisoners through again and again. And, for Leifman, justice is served. E-mail to a friend .

--- Summary ---
Mentally ill inmates in Miami are housed on the "forgotten floor"
Judge Steven Leifman says most are there as a result of "avoidable felonies"
While CNN tours facility, patient shouts: "I am the son of the president"
Leifman says the system is unjust and he's fighting for change .

In [6]:

dtf = pd.read_csv("data_summary.csv")
dtf.head()
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [7]:
lst_stopwords = create_stopwords()
lst_stopwords = lst_stopwords + ["cnn","say","said","new","wa","ha"]

In [8]:

dtf = add_preprocessed_text(dtf, column="y", 
                            punkt=True, lower=True, slang=True, lst_stopwords=lst_stopwords, lemm=True)

In [9]:
dtf = add_preprocessed_text(dtf, column="text", 
                            punkt=True, lower=True, slang=True, lst_stopwords=lst_stopwords, lemm=True)

In [10]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [11]:
dtf.head()

,text,y,y_clean,text_clean
0,"LONDON, England (Reuters) -- Harry Potter star...",Harry Potter star Daniel Radcliffe gets £20M f...,harry potter star daniel radcliffe get 20m for...,london england reuters harry potter star danie...
1,Editor's note: In our Behind the Scenes series...,Mentally ill inmates in Miami are housed on th...,mentally ill inmate miami housed forgotten flo...,editor note behind scene series correspondent ...
2,"MINNEAPOLIS, Minnesota (CNN) -- Drivers who we...","NEW: ""I thought I was going to die,"" driver sa...",thought going die driver man pickup truck fold...,minneapolis minnesota driver minneapolis bridg...
3,WASHINGTON (CNN) -- Doctors removed five small...,"Five small polyps found during procedure; ""non...",five small polyp found procedure none worrisom...,washington doctor removed five small polyp pre...
4,(CNN) -- The National Football League has ind...,"NEW: NFL chief, Atlanta Falcons owner critical...",nfl chief atlanta falcon owner critical michae...,national football league indefinitely suspende...

In [12]:
# Find most common words in text
# dtf_freq = word_freq(corpus=dtf["text_clean"], ngrams=[1], top=30, figsize=(10,7))

In [13]:


# thres = 5
# X_top_words = len(dtf_freq[dtf_freq["freq"]>thres])
# X_top_words

In [14]:
# dtf_freq = word_freq(corpus=dtf["y_clean"], ngrams=[1], top=30, figsize=(10,7))

In [15]:
# thres = 5
# y_top_words = len(dtf_freq[dtf_freq["freq"]>thres])
# y_top_words

In [16]:
# X = add_text_length(dtf, "text_clean")

In [17]:
# X_len = 400

In [18]:
# y = add_text_length(dtf, "y_clean")
#

In [19]:
# plot_distributions(y, x="word_count", max_cat=1, figsize=(10,3))

In [20]:
# y_len = 40

In [21]:
dtf = dtf[["text","text_clean","y","y_clean"]]
dtf.head()

,text,text_clean,y,y_clean
0,"LONDON, England (Reuters) -- Harry Potter star...",london england reuters harry potter star danie...,Harry Potter star Daniel Radcliffe gets £20M f...,harry potter star daniel radcliffe get 20m for...
1,Editor's note: In our Behind the Scenes series...,editor note behind scene series correspondent ...,Mentally ill inmates in Miami are housed on th...,mentally ill inmate miami housed forgotten flo...
2,"MINNEAPOLIS, Minnesota (CNN) -- Drivers who we...",minneapolis minnesota driver minneapolis bridg...,"NEW: ""I thought I was going to die,"" driver sa...",thought going die driver man pickup truck fold...
3,WASHINGTON (CNN) -- Doctors removed five small...,washington doctor removed five small polyp pre...,"Five small polyps found during procedure; ""non...",five small polyp found procedure none worrisom...
4,(CNN) -- The National Football League has ind...,national football league indefinitely suspende...,"NEW: NFL chief, Atlanta Falcons owner critical...",nfl chief atlanta falcon owner critical michae...

In [22]:
# # Partitioning
# dtf_train = dtf.iloc[i+1:]
# dtf_test = dtf.iloc[:i+1]
# dtf_test

In [23]:
# # Test (no Train)
# predicted = textrank(corpus=dtf_test["text"], ratio=y_len/X_len)

In [24]:
# # Evaluate
# evaluate_summary(dtf_test["y"][i], predicted[i])

In [25]:
# # Compare y_test and predicted
# match = display_string_matching(dtf_test["y"][i], predicted[i], both=True, sentences=False, 
#                                 titles=["Real Summary", "Predicted Summary"])

# from IPython.core.display import display, HTML
# display(HTML(match))

In [26]:

# # Explainability
# match = display_string_matching(dtf_test["text"][i], predicted[i], both=True, sentences=True, 
#                                 titles=["Full Text", "Predicted Summary"])

# from IPython.core.display import display, HTML
# display(HTML(match))

In [27]:
# dtf.columns

In [28]:
columns = ['article', 'article_clean', 'highlights', 'highlights_clean']
new_column_names = {'text': 'article', 'text_clean': 'article_clean', 'y': 'highlights', 'y_clean' :'highlights_clean'}

dtf = dtf.rename(columns=new_column_names)

In [29]:
dtf.columns

Index(['article', 'article_clean', 'highlights', 'highlights_clean'], dtype='object')

In [30]:

from sklearn.model_selection import train_test_split

In [31]:
train, test = train_test_split(dtf, test_size=0.3, random_state=42)
test, validate = train_test_split(test, test_size=0.8, random_state=42)

In [32]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49000 entries, 68681 to 15795
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   article           49000 non-null  object
 1   article_clean     49000 non-null  object
 2   highlights        49000 non-null  object
 3   highlights_clean  49000 non-null  object
dtypes: object(4)
memory usage: 1.9+ MB

In [33]:
train.to_csv('train.csv')
validate.to_csv('validate.csv')
test.to_csv('test.csv')

: